<div>
    <label for="name">Name:</label>
    <input [(ngModel)]="heros.name" placeholder="name" id="name"/>
    <h2>{{heros.name | uppercase}} Details</h2>
    <div><span>id: </span>{{heros.id}}</div>
    <div><span>name: </span>{{heros.name}}</div>

        <h2>My Heroes</h2>
        <ul class="heroes">
            <li *ngFor="let hero of heroes">
                <a routerLink="/detail/{{hero.id}}">
                    <span class="badge">{{hero.id}}</span> <span class="text">{{hero.name}}</span>
                </a>
               
            </li>
        </ul>

  
   
</div>