<div>
    <label for="name">Name:</label>
    <input [(ngModel)]="heros.name" placeholder="name" id="name"/>
    <h2>{{heros.name | uppercase}} Details</h2>
    <div><span>id: </span>{{heros.id}}</div>
    <div><span>name: </span>{{heros.name}}</div>

        <h2>My Heroes</h2>
        <ul class="heroes">
            <li *ngFor="let hero of heroes"
            [class.selected] = "hero === selectedHero"
            (click) = "onSelect(hero)"
            >
                <span class="badge">{{hero.id}}</span> <span class="text">{{hero.name}}</span>
            </li>
        </ul>
  
    <div *ngIf="selectedHero">
        <h2>{{selectedHero.name | uppercase}} Details</h2>
        <div><span>id: </span>{{selectedHero.id}}</div>
        <div>
            <label for="selectedHero">name:
                <input type="text" [(ngModel)]="selectedHero.name" placeholder="name" name="selectedHero"/>
            </label>
            
        </div>
    </div>
   
</div>