/* HeroDetailComponent's private CSS style */
label {
  display: inline-block;
  width: 3rem;
  margin: 0.5rem 0;
  color: #607d8b;
  font-weight: bold;
}

input {
  height: 2rem;
  font-size: 1rem;
  padding-left: 0.4rem;
}

button {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
    background-color: #cfd8dc;
}

button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
}